.pagination.right {
    float: right;
}

.pagination {
    cursor: pointer;
}

.th-clickable {
    cursor: pointer;
}

.news-img img {
    width: 128px;
}

.error-message {
  text-align: center;
  color: #d6152e;
}

.row.content {
    margin: 10px 0;
}

.footer {
    margin-top: 50px;
}

.footer .copyright {
    text-align: center;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.jumbotron {
    text-align: center;
}

button.long {
    width: 100%;
}

/* navbar */
.navbar-brand .logo {
    height: 20px;
}

/* jumbotron */
.jumbotron {
    color: #fff;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* messages */

div.message {
    padding: 4px;
    margin: 15px 0;
    text-align: center;
}

div.message.error {
    color: #fff;
    background: #ff6666;
}

div.message.neutral {
    color: #000;
    background: none;
}

/*Loader*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 48px auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
